*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    min-height:100vh;
    align-content: center;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    background-color: rgb(68, 115, 201);

}

.container {
    width: 90%;
    max-width:900px;
    min-height: 400px;
    margin: 30px;
    background-color: antiquewhite  ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

h3 {
    color: grey;
    letter-spacing: 2px;
    margin: 30px 0;
    
}

.joke {
    font-size: 30px;
    letter-spacing: 1px ;
    line-height : 40px;
    max-width:600px;
}

button {
    padding: 0.7em 1.8em;
    font-size:1.3rem;
    color:white;
    background-color:rebeccapurple;
    opacity: 0.8;
    border-radius: 10px;
    margin: 30px 0;

}

button:active {
    transform: scale(0.97);
}

button:focus {
    outline:none;
}